.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.autotools
.cproject


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# http://www.gnu.org/software/automake

Makefile.in
Makefile
.deps/
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
*.log
*.trs

/doc/html
/doc/latex
/xcc/config.h*
/xcc/all_tree_types.def.hpp
/xcc/all_frontends.def.hpp
/xcc/all_frontend_compilers.def.hpp
/xcc/check_tree
/xcc/check_ast
/xcc/xcc

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.log
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex


